[Desktop Entry]
# The version of the desktop entry spec this conforms to.
Version=1.0

Type=Application

Name=TwarpLocal
GenericName=TerminalEmulator

Exec=twarp-terminal-local %U
StartupWMClass=dev.twarp.TwarpLocal

Keywords=shell;prompt;command;commandline;cmd;

Icon=dev.twarp.TwarpLocal

Categories=System;TerminalEmulator;

# Don't run this application within a terminal.
Terminal=false

# Register ourselves as the handler for warplocal:// URLs.
MimeType=x-scheme-handler/warplocal;
