#!/bin/bash

XDG_CONFIG_HOME=${XDG_CONFIG_HOME:-~/.config}

# Allow users to override command-line options
if [[ -f $XDG_CONFIG_HOME/twarp-terminal@@CHANNEL_SUFFIX@@-flags.conf ]]; then
    TWARP_USER_FLAGS="$(grep -v '^#' $XDG_CONFIG_HOME/twarp-terminal@@CHANNEL_SUFFIX@@-flags.conf)"
fi

# Launch
exec /opt/twarpdev/twarp-terminal@@CHANNEL_SUFFIX@@/@@BINARY_NAME@@ $TWARP_USER_FLAGS "$@"
