[Desktop Entry]
# The version of the desktop entry spec this conforms to.
Version=1.0

Type=Application

Name=Twarp
GenericName=TerminalEmulator

Exec=twarp-terminal %U
StartupWMClass=dev.twarp.Twarp

Keywords=shell;prompt;command;commandline;cmd;

Icon=dev.twarp.Twarp

Categories=System;TerminalEmulator;

# Don't run this application within a terminal.
Terminal=false

# Register ourselves as the handler for twarp:// URLs.
MimeType=x-scheme-handler/twarp;
