[Desktop Entry]
# The version of the desktop entry spec this conforms to.
Version=1.0

Type=Application

Name=Twarp
GenericName=TerminalEmulator

Exec=twarp-terminal-oss %U
StartupWMClass=dev.twarp.TwarpOss

Keywords=shell;prompt;command;commandline;cmd;

Icon=dev.twarp.TwarpOss

Categories=System;TerminalEmulator;

# Don't run this application within a terminal.
Terminal=false

# Register ourselves as the handler for warposs:// URLs.
MimeType=x-scheme-handler/warposs;
